extends ../layout 

block content 
    link(rel="stylesheet", href="/css/product/write.css")
    script.
         const public_pcode = `#{product.p_code}`
    script(src="/js/product/write.js")
    form(method="POST").buyer.write
        fieldset 
            legend 상품 등록
            div
                label 상품코드 
                input(name="p_code",value=product.p_code,placeholder="상품코드를 입력하세요",title="상품코드")
                div.product.code
                    button(type="button").product.code_create 코드생성
                    button(type="button").product.code_check 중복검사
            div
                label 상품명
                input(name="p_title", value=product.p_title, placeholder="상품명을 입력하세요",title="상품명")
            div
                label 대분류
                input(name="p_main_cat", value=product.p_main_cat, placeholder="대분류를 입력하세요",title="대분류")
            div
                label 중분류
                input(name="p_mid_cat", value=product.p_mid_cat, placeholder="중분류를 입력하세요",title="중분류")
            div
                label 소분류
                input(name="p_sub_cat", value=product.p_sub_cat, placeholder="소분류를 입력하세요",title="소분류")
            div
                label 제조사
                input(name="p_industry", value=product.p_industry, placeholder="제조사를 입력하세요",title="제조사")
            div 
                label 주요매입처
                input(name="p_buyer", value=product.p_buyer, placeholder="주요매입처를 입력하세요",title="주요매입처")
            div 
                label 매입단가
                input(name="p_iprice", value=product.p_iprice, placeholder="매입단가를 입력하세요",title="매입단가")
            div 
                label 과세여부
                input(name="p_tax", value=product.p_tax, placeholder="과세여부를 입력하세요",title="과세여부")
            div 
                label 판매단가
                input(name="p_oprice", value=product.p_oprice, placeholder="판매단가를 입력하세요",title="판매단가")
                            
            div.button.box     
                button(type="button").product.input 저장
                button(type="button").product.list 리스트로 
                button(type="reset").product.reset 새로작성