<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1,
      form,
      table {
        width: 80%;
        margin: 20px auto;
      }

      td,
      th {
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
      }
    </style>
  </head>
  <body>
    <h1>학생정보</h1>

    <form method="POST">
      <label>학생이름</label>
      <input name="s_name" />

    </form>
    <div>
      <a href="/student"><button>전체보기</button></a>
      <a href="/student/add"><button>추가</button></a>
    </div>
    <section>
    <table>
      <thead>
        <tr>
          <th>학번</th>
          <th>학생 이름</th>
          <th>학과</th>
          <th>학년</th>
          <th>전화번호</th>
          <th>주소</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach((student)=> { %>
        <tr>
          <td><%= student.st_num %></td>
          <td><%= student.st_name %></td>
          <td><%= student.st_dept %></td>
          <td><%= student.st_grade %></td>
          <td><%= student.st_tel %></td>
          <td><%= student.st_addr %></td>
        </tr>

        <% }) %>
      </tbody>
    </table>
    </section>
  </body>
</html>
